<ToolBox>
    <ToolButton caption="#Refresh" action="refresh"/>
    <ToolButton caption="#Add" action="add_object"/>
    <ToolButton caption="#Delete" danger action="del_object"/>
</ToolBox>
<EntityTable cref:table entity="{entity}" not:editable selectable callback="{open_object}"/>

<python>
from core.models import dbinfo, expose_databases
from pony.orm import db_session, make_proxy
from pony.orm.core import EntityMeta
from components.Layout import *
from components.Catalog import *
from components.Dialogs import *
from core.ctx import *

db: str = 'db'
name: str = ''

entity: EntityMeta

def init():
    global entity
    if not name:
        return False
    expose_databases(session.app)
    entity = dbinfo[session.app][db].entities[name].factory.cls

def refresh(node=None):
    refs.table.refresh(True)

def add_object(node):
    render_catalog_form(session, ctx, entity)

def del_object(node):
    row_id = refs.table.active_row_id
    if not row_id: return
    with db_session:
        name = str(entity[row_id])

    def confirm_delete(command: str):
        if command == 'Yes':
            with db_session:
                item = entity[row_id]
                item.delete()
            refresh()

    make_dialog(ctx, _('Confirm deletion of {name}'), callback=confirm_delete)

def open_object(value):
    with db_session:
        ent = make_proxy(entity[value])
    render_catalog_form(session, ctx, ent)

</python>