// Colors
$color-even-gray: #efefef;
$color-caption: #0082e8;

// Tables
$table-border: 1px solid black;
$table-cell-border: 1px solid black;
$table-min-width: 800px;
$table-max-width: 100%;

$th-font: Arial, Verdana, Helvetica, XHelvetica, sans-serif;