label {
  display: block;
  width: 100%;
  padding-top: .375rem;

  &.inline {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding-right: .3rem;

    > span {
      padding-right: .5rem;
    }
  }

  &.block {
    > span {
      display: block;
      padding-bottom: 0.5rem;
    }
    > input, > textarea {
      display: block;
      //width: 100%;
    }
  }

  > input:not([type='checkbox']):not([type='radio']), > select, > textarea {
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid $color-passive;
    border-radius: 0.4rem;
    padding: .375rem .75rem;
    transition: all .15s ease-in-out;

    &:focus {
      border: 1px solid $color-active;
      outline: 0;
      box-shadow: 0 0 0 3px rgba($color-active, 0.58);
    }

    &.wide {
      width: 100%;
    }
  }

  > select[multiple], > textarea {
    height: auto;
  }

  &.required span::after {
    content: '*';
  }

  &.error {
    > input, > select {
     border-color: $color-error !important;
    }
    > .message {
      color: $color-error;
      font-size: .75rem;

      &::before {
        page-break-before: always;
      }
    }
  }
}

fieldset {
  margin-top: .375rem;
  margin-bottom: .375rem;
}

legend {
  padding-left: .375rem;
  padding-right: .375rem;
}

input[type="checkbox"] {
  @include x-appearance(none);
  margin-bottom: 0;
  width: .8rem;
  height: .8rem;
  border: 1px solid $color-active;
  transition: all .2s ease-in-out;
  outline: 0;

  &:checked {
    border-width: .4rem;
    background-color: $color-active;
  }
}

input[type="radio"] {
  @include x-appearance(none);
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid $color-active;
  border-radius: .4rem;
  background-color: $color-passive;
  transition: all .2s ease-in-out;
  outline: 0;

  &:checked {
    background-color: $color-active;
    border-width: 0.4rem;
  }
}
