*, *::before, *::after {
  box-sizing: border-box; /* Makes layout sizing much easier */
}

body {
  margin: 0; /* Removes default margin on the body */
  line-height: 1.5; /* Improves readability across browsers */
}
