<component>
    <ToolBox>
        <ToolButton caption="#Refresh" action="@refresh"/>
        <ToolButton caption="#Add" action="@add_object"/>
        <ToolButton caption="#Copy" action="@copy_object" disabled="{not copy_enabled}"/>
        <ToolButton caption="#Delete" danger action="@del_object"/>
    </ToolBox>

    <EntityTable cref:table consume="entity,query" not:editable selectable callback="@open_object" on_select="@row_selected">
        <columns reuse/>
    </EntityTable>
</component>
<python>
from components.Entities import *
from components.Dialogs import *
from pantra.ctx import *

db_name: str = 'db'
name: str = ''

entity: EntityMeta
query: Any

copy_enabled: bool = False

def init():
    global entity
    if not name:
        return False
    expose_databases(session.app)
    if name not in dbinfo[session.app][db_name].entities:
        session.error(_('entity {name} not found'))
        return False
    entity = dbinfo[session.app][db_name].entities[name].factory.cls

def refresh(node=None):
    refs.table.refresh(True)

def add_object(node):
    render_catalog_form(session, ctx, entity)

def del_object(node):
    row_id = refs.table.active_row_id
    if not row_id: return
    with db_session:
        name = str(entity[row_id])

    def confirm_delete(command: str):
        if command == 'Yes':
            with db_session:
                item = entity[row_id]
                item.delete()
            refresh()

    make_dialog(ctx, _('Confirm deletion of {name}'), callback=confirm_delete)

def open_object(value):
    with db_session:
        ent = make_proxy(entity[value])
    render_catalog_form(session, ctx, ent)

def row_selected(node):
    ctx['copy_enabled'] = True

def copy_object(node):
    if refs.table.active_row:
        render_catalog_form(session, ctx, entity, refs.table.active_row)

</python>