<component xmlns="http://www.w3.org/1999/html">
    <ToolBox>
        <ToolButton caption="#Select" action="@select" default/>
    </ToolBox>
    <DBQueryTable cref:table entity="{entity}" not:editable selectable callback="@select_row"/>
</component>
<python>
from pantra.models import expose_database, dbinfo
from pantra.ctx import *

db_name: str = 'db'
name: str = ''
callback: Callable[[Any], None] = lambda value: None

entity: EntityMeta

def init():
    global entity
    if not name:
        return False
    expose_database(session.app, db_name)
    entity = dbinfo[session.app][db_name].entities[name].factory.cls

def select(node):
    select_row(refs.table.active_row_id)

def select_row(value):
    with db_session:
        value = make_proxy(entity[value])
    callback(value)
    session['taskbar'].close()

</python>
