<label>
    <div class="message">{{error}}</div>
    <input type="checkbox"
           bind:value
           required="{required or ''}"
           readonly="{readonly or ''}"
           class:error
    >
    <span>{{caption}}</span>
</label>

<style type="text/scss">
    @import "defaults";

    input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        margin-bottom: 0;
        width: 0.8em;
        height: 0.8em;
        border: 1px solid rgb(88, 108, 249);
        transition: all .2s ease-in-out;
        outline: 0;
        vertical-align: middle;

        &.error {
            border-color: $color-error;
        }
    }
    input:checked {
        border-width: 0.4em;
        background-color: rgb(88, 108, 249);
    }
    span {
        padding-left: 0.2rem;
    }
    .message {
        color: $color-error;
        font-size: .75rem;
        padding-bottom: 0.2rem;
        &:empty {
            display: none;
        }
    }
</style>

<python use="validators">
value: bool = False
caption: str = ''
error: str = ''
required: bool = False
readonly: bool = False
</python>
