<Field consume>
    <SingleInput cref:date consume="required,readonly,focus" type="date" on_change="@parse_input"/>
    <SingleInput cref:time consume="required,readonly" type="time" step="1" on_change="@parse_input"/>
</Field>

<python>
from datetime import datetime, time
from pantra.ctx import *

value: datetime = datetime.fromordinal(1)

def parse_input(node):
    global value
    d = refs.date.value
    t = refs.time.value or time()
    value = datetime.combine(d, t)
    ctx.call('on_change', ctx)

</python>