<Field consume>
    <SingleInput
            ref:input
            consume="required,readonly"
            on_change="@parse_input"
            list="o{ctx.oid}"
            value="{item_to_text(value)}"
            buttons="...,O"
            action="@button_action"
    />
    <datalist ref:lookups id="o{ctx.oid}">
        {{#for item in lookup_items()}}
        <option value="{item}"/>
        {{/for}}
    </datalist>
</Field>

<python>
from quazy import DBFactory
from components.Widgets import *
from components.DBTables import *
from pantra.ctx import *

value: DBTable = None
table: Type[DBTable] = None
db: DBFactory = None

lookup_min_chars = 3
lookup_max_values = 10
lookup_list: List = []


def fill_value(node):
    if value is None:
        return
    refs.input['value'] = item_to_text(value)
    refs.input.update_tree()
    ctx.call('on_change', ctx)


def item_to_text(v: Optional[DBTable]) -> str:
    return v and str(v) or ''


def text_to_items(t: str) -> list[DBTable]:
    res = []
    if not t:
        return res
    res = db.query(table).filter(lambda o: table.get_lookup_field(o).startswith(t)).set_window(limit=20).fetchall()
    return res


def lookup_items():
    limit = lookup_max_values
    for item in lookup_list:
        yield item_to_text(item)
        limit -= 1
        if not limit:
            break


def parse_input(node):
    global value, lookup_list
    v = refs.input['value']
    if len(v) >= lookup_min_chars:
        lookup_list = text_to_items(v)
        if len(lookup_list) == 1:
            value = lookup_list[0]
            ctx.call('on_change', ctx)
        refs.lookups.update_tree()


def button_action(node):
    if node.data.code == '...':
        render_select(session, table.__name__, callback=select_value)
    elif node.data.code == 'O':
        if not value:
            return
        render_form(session, ctx, value)


def select_value(selected_value):
    global value
    value = selected_value
    fill_value(None)


def refresh():
    fill_value(None)

</python>