<label class:block class:required class:error>
    {{#if block}}
        <div class="cap" css:width="{caption_width}">{{caption}}
            <HelpMessage consume="help">
                <help reuse/>
            </HelpMessage>
        </div>
        <div class="message">{{error}}</div>
        <slot/>
    {{#else}}
        {{#if caption}}
            <div class="cap" css:width="{caption_width}">{{caption}}</div>
        {{/if}}
        <slot/>
        <HelpMessage consume="help">
            <help reuse/>
        </HelpMessage>
    {{/if}}
</label>

<style type="text/scss">
    @import "defaults";
    @import "mixins";

    label {
        display: flex;
        flex-flow: wrap row;
        align-items: center;
        //padding-top: 0.35rem;

        &.block {
            flex-direction: column;
            align-items: flex-start;
        }

        &.required {
            > .cap:after {
                content: '*';
            }
        }
    }

    .cap {
        padding-right: 0.35rem;
        padding-bottom: 0.35rem;
    }

    .message {
        color: $color-error;
        font-size: .75rem;
        padding-bottom: 0.2rem;

        &:empty {
            display: none;
        }
    }

    .error {
        :global(input), :global(textarea) {
            border-color: $color-error;
        }
    }
</style>

<python use="validators">
from pantra.ctx import *

caption: str = ''
block: bool = False
required: bool = False
error: str = ''
caption_width: int = ''

def is_valid():
    if not check_validators():
        return False
    if required and not value:
        ctx['error'] = _('field is empty')
        return False
    ctx['error'] = ''
    return True

</python>
