<Field consume block>
    <div class="flex-break"/>
    <textarea
        bind:value
        set:required
        set:readonly
        spellcheck = "{spellcheck and '' or 'false'}"
        css:width
        cols="{cols}"
        rows="{rows}"
        maxlength="{maxlength}"
    />
    <help reuse not:render/>
</Field>
<react to="value" action="on_change"/>

<python>
value: str = ''
required: bool = ''
readonly: bool = ''
spellcheck: bool = True
width: str = ''
cols: int = 80
rows: int = 5
maxlength: int = ''
</python>
