<Field consume block>
    <section>
        <div class="flex-break"/>
        <textarea
            bind:value
            set:required
            set:readonly
            spellcheck = "{spellcheck and '' or 'false'}"
            css:width
            cols="@cols"
            rows="@rows"
            maxlength="@maxlength"
            on:change="on_change"
        />
    </section>
    <section name="help" reuse/>
</Field>

<python>
value: str = ''
required: bool = ''
readonly: bool = ''
spellcheck: bool = True
width: str = ''
cols: int = 80
rows: int = 5
maxlength: int = ''
</python>
