<Field consume block>
    <section>
        <div class="flex-break"/>
        <textarea
            bind:value
            set:required
            set:readonly
            spellcheck = "{spellcheck and '' or 'false'}"
            css:width
            cols="@cols"
            rows="@rows"
            maxlength="@maxlength"
            on:change="on_change"
        />
    </section>
    <section name="help" reuse/>
</Field>

<python>
from pantra.ctx import *

value: Property[str] = ''
required: Property[bool] = ''
readonly: Property[bool] = ''
spellcheck: Property[bool] = True
width: Property[str] = ''
cols: Property[int] = 80
rows: Property[int] = 5
maxlength: Property[int] = ''
on_change: Property[ActionType] = None
</python>
