<component>
    <ToolBox>
        <ToolButton caption="#Select" action="@select" default/>
    </ToolBox>
    <DBQueryTable cref:table entity="{entity}" not:editable selectable callback="@select_row"/>
</component>
<python>
from quazy import DBTable
from pantra.models import expose_database
from pantra.ctx import *

db_name: str = 'db'
name: str = ''
callback: Callable[[Any], None] = lambda value: None

table: type[DBTable]

def init():
    global table
    if not name:
        return False
    db = expose_database(session.app, db_name)
    table = db[name]

def select(node):
    select_row(refs.table.active_row_id)

def select_row(value):
    value = table[value]
    callback(value)
    session['taskbar'].close()

</python>
