#<python>
import time

from pantra.ctx import *
from pantra.workers.decorators import thread_worker
from pantra.components.controllers import process_call

enabled: bool = False
action: Callable[[Context], bool] | None = None
ms: int = 1000

@thread_worker
def start():
    global enabled
    if not enabled and action is not None:
        enabled = True
        process_call(session, ctx, 'loop')

def loop():
    global enabled

    time.sleep(ms / 1000)
    if action is None:
        return

    if action(ctx) is False:
        enabled = False

    session.send_shot()

    if enabled:
        process_call(session, ctx, 'loop')

def stop():
    global enabled
    enabled = False

#</python>