<div ref:grid class="grid" class:fullscreen
     css:grid-template-columns="minmax({left_width}, max-content) 3px auto"
     css:grid-template-rows="minmax({top_height}, max-content) 3px auto">
    <div ref:header class="header">
        <slot name="header">
            Header
        </slot>
    </div>
    <div class="splitter v" on:drag="VDragSplitter" css:cursor="{'auto' if fixed_header else ''}"/>
    <div ref:leftcol class="leftcol">
        <slot name="leftcol">
            Left column
        </slot>
    </div>
    <div class="splitter h" on:drag="HDragSplitter" css:cursor="{'auto' if fixed_leftcol else ''}"/>
    <div class="main">
        <slot name="main">
            Main content
        </slot>
    </div>
</div>

<style type="text/scss">
    @import "defaults";

    .grid {
        display: grid;
        grid: "header header header" minmax($header-height, max-content)
              "splitter-v splitter-v splitter-v" 3px
              "leftcol splitter-h main" auto /
              minmax($leftcol-width, min-content) 3px auto;

        &.fullscreen {
            height: 100vh;
        }
    }
    .header {
        grid-area: header;
        overflow: hidden;
        background: $header-color;
        background: $header-background;
    }
    .leftcol {
        grid-area: leftcol;
        overflow: hidden;
        background: $leftcol-color;
        background: $leftcol-background;
    }
    .main {
        grid-area: main;
        overflow: auto;
        background: repeating-linear-gradient(0deg, #EEE, #EEE 1px, transparent 1px, transparent 20px);
    }
    .splitter {
        overflow: hidden;
        margin: 0;
        padding: 0;
        &.h {
            grid-area: splitter-h;
            cursor: ew-resize;
            background: linear-gradient(to bottom, rgba($color-dark-gray, 1) 0%, rgba($color-dark-gray, 0) 100%);
        }
        &.v {
            grid-area: splitter-v;
            cursor: ns-resize;
            background: linear-gradient(to right, rgba($color-dark-gray, 1) 0%, rgba($color-dark-gray, 0) 100%);
        }
    }

    .moving.h {
        background: linear-gradient(to bottom, rgba($color-active, 1) 0%, rgba($color-active, 0) 100%);
    }
    .moving.v {
        background: linear-gradient(to right, rgba($color-active, 1) 0%, rgba($color-active, 0) 100%);
    }
</style>

<python use="grids">
from pantra.imports import *
from pantra.ctx import *

top_height: str = '2rem'
left_width: str = '10rem'

fixed_header: bool = False
fixed_leftcol: bool = False

class HDragSplitter(DragController):
    drag_node: HTMLElement
    source_width: int

    def get_options(self, node: HTMLElement):
        return DragOptions(allow_y=False)

    def start(self, node) -> bool:
        if fixed_leftcol:
            return False
        self.source_width = refs.leftcol.metrics.width
        self.drag_node = ctx.div('moving h', node, from_x=self.from_x)
        return True

    def move(self):
        self.drag_node.move(self.delta_x, 0)

    def stop(self):
        self.drag_node.remove()
        width = self.x # self.source_width + self.x - self.from_x
        if width<100:
            width = 0
        ctx['left_width'] = WebUnits(width)

class VDragSplitter(DragController):
    drag_node: HTMLElement
    source_height: int

    def get_options(self, node: HTMLElement):
        return DragOptions(allow_x=False)

    def start(self, node) -> bool:
        if fixed_header:
            return False
        self.source_height = refs.header.metrics.height
        self.drag_node = ctx.div('moving v', node, from_y=self.from_y)
        return True

    def move(self):
        self.drag_node.move(0, self.delta_y)

    def stop(self):
        self.drag_node.remove()
        height = self.source_height + self.y - self.from_y
        ctx['top_height'] = WebUnits(height)

</python>