<div class="grid" class:fullscreen>
    <div class="header">
        <slot name="header">
            Header
        </slot>
    </div>
    <div class="main">
        <slot name="main">
            Main content
        </slot>
    </div>
</div>

<style type="text/scss">
    @import "defaults";

    .grid {
        display: grid;
        grid: "header" minmax($header-height, max-content)
              "main" auto /
              auto;

        &.fullscreen {
            height: 100vh;
        }
    }
    .header {
        grid-area: header;
        overflow: hidden;
        background: $header-color;
        background: linear-gradient(125deg, darken($header-color, 5%) 0%, rgba(255,255,255,1) 100%);
        border-bottom: solid 3px $color-decoration;
    }
    .main {
        grid-area: main;
        overflow: auto;
    }
</style>

<python>
fullscreen: bool = False
</python>