<BaseTable consume/>

<python>
from components.Tables import Columns, ColumnInfo
from pantra.ctx import *

data: List[Dict[str, Any]]
col_id: Optional[str] = None

columns: Columns = {}


def init():
    global columns
    # detect types
    if not data:
        return False

    for k, v in data[0].items():
        columns[k] = ColumnInfo(name=k, type=type(v))


def get_rows(order_col, order_dir):
    if order_col:
        yield from sorted(data, key=lambda r: r[order_col], reverse=order_dir<0)
    else:
        yield from data


def save_value(field: Context, value):
    col = field['column']

    row_id = field.upto('tr').data.row_id
    idx = next(i for i, row in enumerate(data) if row[col_id] == row_id)
    data[idx][col.name] = value

</python>