'''
{{#if filters}}
<FilterTable filters="{filters}" search="search_fields" callback="@apply_filters" search_callback="@apply_search"/>
{{/if}}
<BaseTable ref:basetable consume>

</BaseTable>

<python>
#'''
from quazy import DBQuery, DBTable
from components.helpers.tables import Columns, DBColumnInfo, Filter, OPER_MAP
from pantra.ctx import *

query: DBQuery | None = None
table: Type[DBTable]
col_id: str = 'pk'

original_query: DBQuery | None = None
columns: Columns = {}
filters: list[Filter] = []
search_fields: list[str] = []
search_text: str = ''

def init():
    global query, columns, original_query, col_id
    # default query
    if query is None:
        query = table.select()
    fields = query.describe()

    if col_id == 'pk':
        col_id = table.DB.pk.name

    for field in fields:
        col = DBColumnInfo(field.ux)
        col.title = _(col.title)
        if col.width:
            col.style.width = WebUnits(col.width, 'em')
        columns[field.name] = col
        #if field.ref:
        #    columns[f'{field.name}_view'] = ColumnInfo(name=name, type=attr.type, hidden=True)
        filters.append(Filter(col))
        if field.type is str:
            search_fields.append(field.name)

    original_query = query

def get_rows(order_col, order_dir):
    global columns
    if order_col:
        q = query.copy().sort_by(order_col, desc=order_dir>0)
    else:
        q = query
    with q.execute(as_dict=True) as rows:
        yield from rows

def save_value(field: Context, value):
    col = field['column']

    row_id = field.upto('tr').data['row_id']
    row = table[row_id]
    setattr(row, col.name, value)
    row.save()

def apply_filters():
    global query
    query = original_query.copy()
    for filter in filters:
        if not filter.enabled:
            continue
        if filter.operator in OPER_MAP:
            query.filter(lambda x: getattr(getattr(x, filter.column.field.name), OPER_MAP[filter.operator])(filter.value))
        elif filter.operator == 'contains':
            query.filter(lambda x: getattr(x, filter.column.field.name).contains(filter.value))
        elif filter.operator == 'between':
            query.filter(lambda x: filter.value <= getattr(x, filter.column.field.name) <= filter.value2)
    if search_text and search_fields:
        query = query.filter(lambda x: query.any(getattr(x, field).contains(search_text) for field in search_fields))
    ctx['refresh']()

def apply_search(text: str):
    global search_text
    search_text = text
    apply_filters()

#</python>