<component>
    {{#if filters}}
    <FilterTable filters="{filters}" search="search_fields" callback="@apply_filters" search_callback="@apply_search"/>
    {{/if}}
    <BaseTable ref:basetable consume/>
</component>

<python>
from pony.orm.core import Query, Entity, db_session, desc, select, make_proxy, EntityMeta
from pantra.models import query_info, find_entity_info
from pantra.models.runtime import AttrInfo
from pantra.models.types import LongStr
from components.Tables import Columns, ColumnInfo, Filter, OPER_MAP
from pantra.ctx import *

query: Optional[Query] = None
entity: Entity
col_id: str = 'id'

original_query: Optional[Query] = None
columns: Columns = {}
filters: List[Filter] = []
search_fields: List[str] = []
search_text: str = ''

def init():
    global query, columns, original_query
    # default query
    if query is None:
        info = find_entity_info(entity)
        qinfo: Dict[str, AttrInfo] = dict((k, a) for k, a in info.attrs.items() if not a.is_body and not a.is_cid)
        #query_text = ','.join(f'e.{a.name}' if not a.is_ref else f'{a.name}' for a in qinfo.values())
        query_vars = []
        for a in qinfo.values():
            if not a.is_ref:
                query_vars.append(f'e.{a.name}')
            else:
                query_vars.append(a.name)
                query_vars.append(f'{a.name}.__str__()')
        query_text = ','.join(query_vars)

        fors = ['for e in entity']
        for a in qinfo.values():
            if a.is_ref:
                fors.append(f'for {a.name} in info.attrs["{a.name}"].type if e.{a.name}_id == {a.name}.id')
        query_text = f'({query_text}) ' + ' '.join(fors)
        with db_session():
            query = select(query_text)

    else:
        # detect types
        qinfo = query_info(query)
        if not qinfo:
            return

    for name, attr in qinfo.items():
        col = ColumnInfo(name=name, type=attr.type, title=_(attr.title), editable=not attr.readonly, hidden=attr.is_id)
        if attr.width:
            col.style.width = WebUnits(attr.width, 'em')
        columns[name] = col
        if attr.is_ref:
            columns[f'{name}_view'] = ColumnInfo(name=name, type=attr.type, hidden=True)
        filters.append(Filter(col))
        if attr.type in (str, LongStr):
            search_fields.append(name)

    original_query = query

@db_session
def get_rows(order_col, order_dir):
    global columns
    if order_col:
        col = getattr(entity, order_col)
        if order_dir < 0:
            col = desc(col)
        q = query.order_by(col)
    else:
        q = query
    for row in q:
        yield dict(zip(columns.keys(), (value if not isinstance(value, Entity) else make_proxy(value) for value in row)))

@db_session
def save_value(field: Context, value):
    col = field['column']

    row_id = field.upto('tr').data.row_id
    setattr(entity[row_id], col.name, value)

def apply_filters():
    global query
    query = original_query
    args = ','.join(col for col in columns)
    with db_session:
        for filter in filters:
            if not filter.enabled:
                continue
            if filter.operator in OPER_MAP:
                query = query.filter(f'lambda {args}: {filter.column.name} {OPER_MAP[filter.operator]} filter.value')
            elif filter.operator == 'contains':
                query = query.filter(f'lambda {args}: filter.value in {filter.column.name}')
            elif filter.operator == 'between':
                # TODO
                pass
    if search_text:
        ifs = ' or '.join(f'search_text in {field}' for field in search_fields)
        query = query.filter(f'lambda {args}: {ifs}')
    ctx['refresh']()

def apply_search(text: str):
    global search_text
    search_text = text
    apply_filters()

</python>