<Table consume/>

<python>
from pony.orm.core import Query, Entity, db_session, desc, select, make_proxy, EntityMeta
from core.models import query_info, find_entity_info
from core.common import WebUnits
from components.Tables import Columns, ColumnInfo
from core.ctx import *

query: Optional[Query] = None
entity: Entity
col_id: str = 'id'

columns: Columns = {}

def init():
    global query, columns
    # default query
    if query is None:
        info = find_entity_info(entity)
        qinfo = dict((k, a) for k, a in info.attrs.items() if not a.is_body and not a.is_cid)
        query_text = ','.join(f'e.{a.name}' if not a.is_ref else f'{a.name}' for a in qinfo.values())
        fors = ['for e in entity']
        for a in qinfo.values():
            if a.is_ref:
                fors.append(f'for {a.name} in info.attrs["{a.name}"].type if e.{a.name}_id == {a.name}.id')
        query_text = f'({query_text}) ' + ' '.join(fors)
        with db_session():
            query = select(query_text)

    else:
        # detect types
        qinfo = query_info(query)
        if not qinfo:
            return

    for name, attr in qinfo.items():
        col = ColumnInfo(name=name, type=attr.type, title=_(attr.title), editable=not attr.readonly)
        if attr.width:
            col.style.width = WebUnits(attr.width, 'em')
        columns[name] = col

@db_session
def get_rows(order_col, order_dir):
    global columns
    if order_col:
        col = getattr(entity, order_col)
        if order_dir<0:
            col = desc(col)
        q = query.order_by(col)
    else:
        q = query
    for row in q:
        yield dict(zip(columns.keys(), (value if not isinstance(value, Entity) else make_proxy(value) for value in row)))

@db_session
def save_value(field: Context, value):
    col = field['column']

    entity[field.scope.row_id].set(**{col.name: value})

</python>