<component>
    <div ref:filters class="filters">
        <div style="display: contents">
            {{#for filter in filters_enabled()}}
                <div class="filter">
                    <span>{{filter.column.title}}</span>
                    <span class="close-mark" data:filter="{filter}" on:click="remove_filter">🗙</span>
                </div>
            {{#else}}
                <div class="nofilter">#Not filtered</div>
            {{/for}}
        </div>
        <div class="spacer"/>
        <div class="filter configure" on:click="toggle_form">#Filters</div>
    </div>
    <div ref:container class="container hidden">
        <div ref:form class="filters-form" on:render="render_form"/>
        <ToolBox>
            <ToolButton caption="#Apply" action="apply_filters"/>
            <ToolButton caption="#Close" action="hide_form"/>
        </ToolBox>
    </div>
</component>

<style type="text/scss">
    @import "defaults";
    @import "mixins";

    .filters {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        min-height: 2em;
        width: 100%;
        background: $header-background;
        border: $common-border;
    }

    .filter {
        padding: 0.3em 1em;
        border: $common-border;
        border-radius: 3px;
        @include x-user-select();
    }

    .nofilter {
        color: $color-passive;
        padding: 0.3em 1em;
        font-style: italic;
    }

    .configure {
        cursor: pointer;
        @include x-user-select();
    }

    .spacer {
        flex-grow: 1;
    }

    .close-mark {
        cursor: pointer;
        @include x-user-select();
    }

    .container {
        width: 100%;
        background: $form-bg;
    }

    .filters-form {
        display: grid;
        grid-template-columns: 1rem minmax(10rem, max-content) 3rem minmax(10rem, max-content);
        grid-auto-columns: minmax(10rem, max-content);
        gap: 0.2rem 0.3rem;
        align-items: center;
        padding: 0.3rem 1rem;
    }
</style>

<python>
from models.runtime import AttrInfo
from pantra.models.types import *
from components.Tables import Filter, FilterView, OPERATORS
from pantra.ctx import *

filters: List[Filter] = []
callback: Callable[[], None] = lambda: None

filter_views: List[FilterView] = []

if typing.TYPE_CHECKING:
    _('contains')
    _('between')

def init():
    if not filters:
        return False

    width = 8
    for filter in filters:  # type: Filter
        col = filter.column
        attr = AttrInfo(name=col.name, type=col.type, is_id=False, is_prop=False, is_ref=False, title=col.title, width=width, blank=True, is_body=False, is_cid=False, readonly=False)
        if col.type in (int, float, Decimal):
            ops = OPERATORS['numbers']
        elif col.type in (str, LongStr, Json):
            ops = OPERATORS['strings']
        elif col.type == bool:
            ops = OPERATORS['booleans']
        elif col.type in (date, datetime, time):
            ops = OPERATORS['dates']
        elif isinstance(col.type, EntityMeta):
            ops = OPERATORS['entities']
        else:
            continue
        filter_views.append(FilterView(filter, ops, attr, None))

def filters_enabled():
    for filter in filters:
        if filter.enabled:
            yield filter

def render_form(node: HTMLElement):
    if not node.children:
        for view in filter_views:  # type: Filter
            node.render('FilterTableLine', {'view': view})
    else:
        node.update_tree()

def remove_filter(node: HTMLElement):
    node.data.filter.enabled = False
    loop = refs.filters.downto('@')
    loop.update(True)
    render_form(refs.form)
    callback()

def toggle_form(node):
    refs.container.toggle_class('hidden')

def hide_form(node):
    refs.container.add_class('hidden')

def apply_filters(node):
    loop = refs.filters.downto('@')
    loop.update(True)
    callback()

</python>