"""
<div class="table-container">
    <table id="{ctx.oid}">
        <colgroup ref:colgroup>
            {{#for style in col_styles}}
            <col style="{style}">
            {{/for}}
        </colgroup>
        <thead>
            <slot name="thead"/>
            {{#for row in maps}}
            <tr>
                {{#for col in row}}
                <th colspan="{col.hspan}" rowspan="{col.vspan}">
                    {{#if col.resizable or col.sortable}}
                    <div>{{col.title}}
                        {{#if col.resizable}}
                        <span class="resizable" on:drag="DragResize"/>
                        {{/if}}
                        {{#if col.sortable}}
                        <span class="sortable{get_order_class(this)}" on:click="do_sort" data:col="{col.name}"/>
                        {{/if}}
                    </div>
                    {{#else}}
                    {{col.title}}
                    {{/if}}
                </th>
                {{/for}}
            </tr>
            {{/for}}
        </thead>
        <tbody ref:tbody>
        {{#for datarow in get_rows() #datarow[col_id] if col_id else None}}
            {{#for row in maps}}
            <tr>
                {{#if col_id}}
                <scope row_id="{datarow[col_id]}"/>
                {{/if}}
                {{#for col in row}}
                <td colspan="{col.hspan}" rowspan="{col.vspan}" data:col="{col}">{{fmt(datarow[col.name], col.t)}}</td>
                {{/for}}
            </tr>
            {{/for}}
        {{/for}}
        </tbody>
    </table>
</div>

<event selector="td" on:click="enter_cell"/>
<event selector="input" on:focusout="exit_cell"/>

<style type="text/scss">
    @import "defaults";

    .resizing {
        background-color: $color-active;
        background: linear-gradient(180deg, rgba($color-active, 1) 0%, rgba($color-active, 0) 100%);
    }
</style>

<python>
# """
from datetime import datetime
from core.imports import *
from components.Tables.common import *
from core.ctx import *

data: List[Dict[str, Any]]
maps: Optional[MapsRows] = None
col_styles: Optional[List[Dict[str, Any]]] = None

if not defined('col_id'):
    col_id: Optional[str] = None

def init():
    global maps, col_id, col_styles
    if not data:
        return False
    # detect types
    col_types: Dict[str, type] = {k: type(v) for k, v in data[0].items()}
    col_titles: Dict[str, str] = {k: k for k in data[0].keys()}
    cols = ctx.slot['columns']
    if not cols:
        # default layout
        row = []
        for k in data[0].keys():
            if k != col_id:
                row.append(ColMap(name=k, title=col_titles[k], t=col_types[k]))
        maps.append(row)
        col_styles = [DynamicStyles(f'width={100 / len(row)}%') for _ in range(len(row))]
    else:
        # predefined layout
        maps = build_maps(ctx, cols)
        for row in maps:
            for col in row:
                t = col.node
                name = t.attributes.name
                col.name = name
                col.title = t.attributes.get('title', col_titles[name])
                col.t = col_types[name]
                col.editable = t.attributes.get('editable', ctx.locals.get('editable', True))
                col.resizable = t.attributes.get('resizable', ctx.locals.get('resizable', True))
                col.sortable = t.attributes.get('sortable', True)
                col.widget = collect_template(ctx.session, get_widget(col_types[name]))
        col_styles, css = collect_styles(ctx, maps)
        if css:
            HTMLElement('style', ctx, text=css)
        remove_spans(maps)


def fmt(value, t):
    if t == datetime:
        return f'{value:%x %X}'
    return value


def get_rows():
    if order_col:
        yield from sorted(data, key=lambda r: r[order_col], reverse=order_dir<0)
    else:
        yield from data


order_col = None
order_dir = 0
order_node = None

def get_order_class(node):
    if order_dir == 0 or order_node != node:
        return ''
    return ' asc' if order_dir > 0 else ' desc'


def do_sort(node):
    global order_dir, order_col, order_node
    if order_node != node:
        order_col = node.data.col
        order_dir = 1
        prev_node = order_node
        order_node = node
        if prev_node:
            prev_node.update()
    else:
        order_dir = -order_dir
    node.update()
    refs.tbody.update_tree()


class DragResize(DragController):
    drag_node: HTMLElement
    source_index: int
    source_node: HTMLElement

    def get_options(self, node: HTMLElement):
        ctx.session.drop_metrics()
        return DragOptions(0, True, False, None, node.metrics.left + 20, None, None)

    def start(self, node: HTMLElement):
        self.source_index = node.parent.parent.index()
        self.source_node = node.parent.parent
        self.drag_node = ctx.div('resizing', node)
        self.drag_node.set_metrics([self.x, node.metrics.top, 3, '100vh'])
        return True

    def move(self):
        self.drag_node.move(self.delta_x, 0)

    def stop(self):
        global col_styles
        self.drag_node.remove()
        source_width = self.source_node.metrics.width
        new_width = self.x - self.source_node.metrics.left
        col_style = col_styles[self.source_index]
        if 'width' not in col_styles[self.source_index]:
            col_style.width = WebUnits(new_width)
        else:
            if type(col_style.width) != WebUnits:
                col_style.width = WebUnits(col_style.width)
            col_style.width = col_style.width * new_width // source_width
        refs.colgroup.update_tree()

def get_widget(t):
    return get_widget_default(t)

def enter_cell(node: HTMLElement):
    field = Context(node.data.col.widget, node)
    field.locals.column = node.data.col
    field.locals.value = str(node.text)
    field.locals.save_value = save_value
    field.render.build()
    node.text = ''
    node.style.padding = 0
    node.update()


def save_value(field: Context, value):
    col = field.column

    data[col.name] = value

    field.parent.text = value
    field.parent.style -= 'padding'
    field.parent.update()
    field.remove()

#</python>