"""
<div class="Table container">
    <table id="t{ctx.oid}">
        <colgroup ref:colgroup>
            {{#for style in col_styles #forloop.counter}}
            <col style="{style}">
            {{/for}}
        </colgroup>
        <thead>
            <slot name="thead"/>
            {{#for row in maps}}
            <tr>
                {{#for col in row}}
                <th colspan="{col.hspan}" rowspan="{col.vspan}">
                    {{#set col_info := col.info}}
                        {{#if col_info.resizable or col_info.sortable}}
                        <div>
                            <div class="cap">{{col_info.title}}</div>
                            {{#if col_info.sortable}}
                            <div class="sortable{get_order_class(this)}" on:click="do_sort" data:col="{col_info.name}"/>
                            {{/if}}
                            {{#if col_info.resizable}}
                            <div class="resizable" on:drag="DragResize"/>
                            {{/if}}
                        </div>
                        {{#else}}
                        {{col_info.title}}
                        {{/if}}
                    {{/set}}
                </th>
                {{/for}}
            </tr>
            {{/for}}
        </thead>
        <tbody ref:tbody>
        {{#for datarow in get_rows(order_col, order_dir) #datarow[col_id] if col_id is not None else forloop.counter}}
            {{#for row in maps}}
            <tr scope>
                <scope row_id="{forloop.parent.index}"/>
                {{#for col in row}}
                <td colspan="{col.hspan}" rowspan="{col.vspan}" data:col="{col.info}">{{fmt(datarow[col.info.name], col.info)}}</td>
                {{/for}}
            </tr>
            {{/for}}
        {{#else}}
            <tr>
                <td class="empty" colspan="{len(col_styles)}">#Empty</td>
            </tr>
        {{/for}}
        </tbody>
    </table>
</div>

<event selector=".Table tbody td:not(.empty)" global on:click="select_cell" on:dblclick="enter_cell"/>
<event selector=".Table tbody td input" global on:focusout="exit_cell"/>

<style type="text/scss" global>
    @import "defaults";
    @import "mixins";

    @mixin arrows-font() {
        font-family: $font-family-monospace;
        font-size: 18px; // fixed size to make unicode arrows not so ugly
    }

    .Table {
        &.container {
            overflow: auto;
            width: 100%;
            max-height: 100vh;
        }

        table {
            table-layout: fixed;
            width: 100%;
            border: $table-border;
            border-collapse: collapse;
            min-width: $table-min-width;
            max-width: $table-max-width;
        }

        thead th {
            font-family: $th-font;
            border: $table-cell-border;
            padding: 2px 0 2px 3px;
            text-overflow: ellipsis;
            overflow: hidden;
            background-color: $color-caption;
            color: white;
            @include x-position-sticky();
            top: -1px;
            box-shadow: inset 0 1px 0 $body-color, inset 0 -1px 0 $body-color;
            text-transform: capitalize;

            > div {
                display: flex;
                flex-flow: row nowrap;

                > .cap {
                    flex-grow: 1;
                }

                > .sortable {
                    @include arrows-font();
                    flex-grow: 0;

                    &:after {
                        content: '⇅';
                        cursor: pointer;
                    }

                    &.asc:after {
                        content: '⬇';
                    }

                    &.desc:after {
                        content: '⬆';
                    }
                }

                > .resizable {
                    flex-grow: 0;
                    width: 5px;
                    cursor: col-resize;
                }
            }
        }

        tbody {
            td {
                border: $table-cell-border;
                padding: 2px 3px;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: box-shadow .15s ease-in-out;
                background: $body-bg;
            }

            td:hover {
                //border: 1px solid $table-cell-active-color;
                box-shadow: 0 0 0 3px rgba($table-cell-active-color, 0.5);
            }

            > tr.selected {
                > td {
                    background-color: rgba($table-cell-selected-color, 0.2) !important;
                }

                > td.selected {
                    background-color: rgba($table-cell-selected-color, 0.3) !important;
                    font-weight: bold;
                }
            }
        }

        .resizing {
            background-color: $color-active;
            background: linear-gradient(180deg, rgba($color-active, 1) 0%, rgba($color-active, 0) 100%);
        }

        td.empty {
            padding-left: 0.5em;
            color: $color-passive;
        }
    }
</style>

<python>
# """
from datetime import datetime
from core.imports import *
from components.Tables import *
from core.ctx import *

editable: bool = True
resizable: bool = True
sortable: bool = True
selectable: bool = False
callback: Callable[[Any], None] = lambda value: None

columns: Columns

maps: Optional[MapsRows] = None
col_styles: Optional[List[Dict[str, Any]]] = []

order_col: Optional[str] = None
order_dir: int = 0
order_node: Optional[AnyNode] = None

active_row_id: Optional[int] = None
active_row_node: Optional[LoopNode] = None
active_col: Optional[str] = None
active_col_cell: Optional[HTMLElement] = None

col_id: Optional[str] = None

def init():
    global maps, col_id, col_styles, columns
    cols_slot = ctx.slot['columns'] if ctx.slot else None
    if not cols_slot:
        # default layout
        maps = []
        row = []
        for col_name, col in columns.items():
            if not col.hidden:
                row.append(ColumnMap(info=col))
                col.widget = collect_template(ctx.session, get_widget(col))
        common_width = DynamicStyles(f'width: {100 / (len(row)-1)}%')
        for col_name, col in columns.items():
            if col_name != col_id:
                col_styles.append(common_width | col.style)

        maps.append(row)
    else:
        # predefined layout
        maps = build_maps(ctx, cols_slot, columns)
        for row in maps:
            for col in row:
                attrs = col.node.attributes
                attrs.name = col.info.name
                col.node.style = col.info.style | col.node.style
                col.info.title = attrs.get('title', col.info.title)
                for opt in ('editable', 'resizable', 'sortable'):
                    if not globals()[opt]:
                        setattr(col.info, opt, False)
                    elif opt in attrs:
                        setattr(col.info, opt, attrs[opt])
                col.widget = collect_template(ctx.session, get_widget(col.info))
        col_styles, css = collect_col_styles(ctx, maps)
        if css:
            HTMLElement('style', ctx, text=css)


def fmt(value, info):
    if value is None:
        return ''
    if info.type == datetime:
        return f'{value:%x %X}'
    if info.type == bool:
        return value and '☑' or '☐'
    if isinstance(info.type, EntityMeta):
        with db_session:
            return str(value._get_object())
    return str(value)

def refresh(clear: bool = False):
    if clear:
        refs.tbody[0].reset_cache()
    refs.tbody.update_tree()

def get_order_class(node):
    if order_dir == 0 or order_node != node:
        return ''
    return ' asc' if order_dir > 0 else ' desc'


def do_sort(node):
    global order_dir, order_col, order_node
    if order_node != node:
        order_col = node.data.col
        order_dir = 1
        prev_node = order_node
        order_node = node
        if prev_node:
            prev_node.update()
    else:
        order_dir = -order_dir
    node.update()
    refs.tbody.update_tree()


class DragResize(DragController):
    drag_node: HTMLElement
    source_index: int
    source_node: HTMLElement

    def get_options(self, node: HTMLElement):
        ctx.session.drop_metrics()
        return DragOptions(0, True, False, None, node.upto('th').metrics.left + 20, None, None)

    def start(self, node: HTMLElement):
        th = node.upto('th')
        self.source_index = th.index()
        self.source_node = th
        self.drag_node = ctx.div('resizing', node)
        self.drag_node.set_metrics([self.x, node.metrics.top, 3, '100vh'])
        return True

    def move(self):
        self.drag_node.move(self.delta_x, 0)

    def stop(self):
        global col_styles
        self.drag_node.remove()
        source_width = self.source_node.metrics.width
        new_width = self.x - self.source_node.metrics.left
        col_style = col_styles[self.source_index]
        if 'width' not in col_styles[self.source_index]:
            col_style.width = WebUnits(new_width)
        else:
            if type(col_style.width) != WebUnits:
                col_style.width = WebUnits(col_style.width)
            col_style.width = col_style.width * new_width // source_width
        refs.colgroup[0][self.source_index].style = col_style
        refs.colgroup.update_tree()


def get_widget(col_info: ColumnInfo):
    return get_widget_default(col_info)


def select_cell(node: HTMLElement):
    global active_row_id, active_row_node, active_col, active_col_cell
    if active_row_id is not None:
        for n in active_row_node:
            n.classes -= 'selected'
            ctx.shot(n)
    if active_col_cell is not None:
        active_col_cell.classes -= 'selected'
        ctx.shot(active_col_cell)

    col = node.data.col
    active_col = col.name
    node.classes += 'selected'
    active_col_cell = node
    ctx.shot(node)

    row = node.parent.upto('@')
    active_row_node = row
    for n in row:
        n.classes += 'selected'
        ctx.shot(n)
        active_row_id = n.scope.row_id


def enter_cell(node: HTMLElement):
    if selectable:
        callback(active_row_id)
        return

    if not editable or not node.data.col.editable:
        return

    node.render(node.data.col.widget, {'column': node.data.col, 'value': str(node.text)})
    node.text = ''
    node.style.padding = 0
    ctx.shot(node)


def remove_field(field: Context, value):
    field.parent.text = value
    field.parent.style -= 'padding'
    ctx.shot(field.parent)
    field.remove()
    if order_col == field['column'].name:
        refs.tbody.update_tree()

#</python>