"""
<div class="table-container">
    <table id="t{ctx.oid}">
        <colgroup ref:colgroup>
            {{#for style in col_styles #forloop.counter}}
            <col style="{style}">
            {{/for}}
        </colgroup>
        <thead>
            <slot name="thead"/>
            {{#for row in maps}}
            <tr>
                {{#for col in row}}
                <th colspan="{col.hspan}" rowspan="{col.vspan}">
                    {{#if col.resizable or col.sortable}}
                    <div>{{col.title}}
                        {{#if col.resizable}}
                        <span class="resizable" on:drag="DragResize"/>
                        {{/if}}
                        {{#if col.sortable}}
                        <span class="sortable{get_order_class(this)}" on:click="do_sort" data:col="{col.name}"/>
                        {{/if}}
                    </div>
                    {{#else}}
                    {{col.title}}
                    {{/if}}
                </th>
                {{/for}}
            </tr>
            {{/for}}
        </thead>
        <tbody ref:tbody>
        {{#for datarow in get_rows(order_col, order_dir) #datarow[col_id] if col_id else forloop.counter}}
            {{#for row in maps}}
            <tr scope>
                <scope row_id="{forloop.parent.index}"/>
                {{#for col in row}}
                <td colspan="{col.hspan}" rowspan="{col.vspan}" data:col="{col}">{{fmt(datarow[col.name], col.t)}}</td>
                {{/for}}
            </tr>
            {{/for}}
        {{/for}}
        </tbody>
    </table>
</div>

<event selector="td" on:click="select_cell" on:dblclick="enter_cell"/>
<event selector="input" on:focusout="exit_cell"/>

<style type="text/scss">
    @import "defaults";

    .resizing {
        background-color: $color-active;
        background: linear-gradient(180deg, rgba($color-active, 1) 0%, rgba($color-active, 0) 100%);
    }
</style>

<python>
# """
from datetime import datetime
from core.imports import *
from components.Tables.common import *
from core.ctx import *

editable: bool = True
resizable: bool = True
sortable: bool = True

maps: Optional[MapsRows] = None
col_styles: Optional[List[Dict[str, Any]]] = None

order_col: Optional[str] = None
order_dir: int = 0
order_node: Optional[AnyNode] = None

active_row: Optional[int] = None
active_row_node: Optional[LoopNode] = None
active_col: Optional[str] = None
active_col_cell: Optional[HTMLElement] = None

if not defined('col_id'):
    col_id: Optional[str] = None

def init():
    global maps, col_id, col_styles, col_names, col_types, col_titles
    cols = ctx.slot and ctx.slot['columns']
    if not cols:
        # default layout
        maps = []
        row = []
        for k in col_names:
            if k != col_id:
                row.append(ColMap(name=k, title=col_titles[k], t=col_types[k]))
        maps.append(row)
        col_styles = [DynamicStyles(f'width={100 / len(row)}%') for _ in range(len(row))]
    else:
        # predefined layout
        maps = build_maps(ctx, cols)
        for row in maps:
            for col in row:
                t = col.node
                name = t.attributes.name
                col.name = name
                col.title = t.attributes.get('title', col_titles[name])
                col.t = col_types[name]
                col.editable = t.attributes.get('editable', editable)
                col.resizable = t.attributes.get('resizable', resizable)
                col.sortable = t.attributes.get('sortable', sortable)
                col.widget = collect_template(ctx.session, get_widget(col_types[name]))
        col_styles, css = collect_styles(ctx, maps)
        if css:
            HTMLElement('style', ctx, text=css)
        remove_spans(maps)


def fmt(value, t):
    if value is None:
        return ''
    if t == datetime:
        return f'{value:%x %X}'
    if t == bool:
        return t and '☑' or '☐'
    return value


def get_order_class(node):
    if order_dir == 0 or order_node != node:
        return ''
    return ' asc' if order_dir > 0 else ' desc'


def do_sort(node):
    global order_dir, order_col, order_node
    if order_node != node:
        order_col = node.data.col
        order_dir = 1
        prev_node = order_node
        order_node = node
        if prev_node:
            prev_node.update()
    else:
        order_dir = -order_dir
    node.update()
    refs.tbody.update_tree()


class DragResize(DragController):
    drag_node: HTMLElement
    source_index: int
    source_node: HTMLElement

    def get_options(self, node: HTMLElement):
        ctx.session.drop_metrics()
        return DragOptions(0, True, False, None, node.metrics.left + 20, None, None)

    def start(self, node: HTMLElement):
        th = node.upto('th')
        self.source_index = th.index()
        self.source_node = th
        self.drag_node = ctx.div('resizing', node)
        self.drag_node.set_metrics([self.x, node.metrics.top, 3, '100vh'])
        return True

    def move(self):
        self.drag_node.move(self.delta_x, 0)

    def stop(self):
        global col_styles
        self.drag_node.remove()
        source_width = self.source_node.metrics.width
        new_width = self.x - self.source_node.metrics.left
        col_style = col_styles[self.source_index]
        if 'width' not in col_styles[self.source_index]:
            col_style.width = WebUnits(new_width)
        else:
            if type(col_style.width) != WebUnits:
                col_style.width = WebUnits(col_style.width)
            col_style.width = col_style.width * new_width // source_width
        refs.colgroup[0][self.source_index].style = col_style
        refs.colgroup.update_tree()

def get_widget(t):
    return get_widget_default(t)

def select_cell(node: HTMLElement):
    global active_row, active_row_node, active_col, active_col_cell
    if active_row is not None:
        for n in active_row_node:
            n.classes -= 'selected'
            ctx.shot(n)
    if active_col_cell is not None:
        active_col_cell.classes -= 'selected'
        ctx.shot(active_col_cell)

    col = node.data.col
    active_col = col.name
    node.classes += 'selected'
    active_col_cell = node
    ctx.shot(node)

    row = node.parent.upto('@')
    active_row_node = row
    for n in row:
        n.classes += 'selected'
        ctx.shot(n)
        active_row = n.scope.row_id

def enter_cell(node: HTMLElement):
    if not editable or not node.data.col.editable:
        return

    field = Context(node.data.col.widget, node)
    field.locals.column = node.data.col
    field.locals.value = str(node.text)
    field.render.build()
    node.text = ''
    node.style.padding = 0
    ctx.shot(node)

def remove_field(field: Context, value):
    field.parent.text = value
    field.parent.style -= 'padding'
    ctx.shot(field.parent)
    field.remove()
    if order_col == field.column.name:
        refs.tbody.update_tree()

#</python>