"""
<GridX fullscreen>
    <CardForm ref:form caption="#Starting facility">
        <SelectBox ref:app caption="#Select app" blank wide required>
            <SelectItem caption="system"/>
            {{#for app in get_apps()}}
            <SelectItem caption="{app}"/>
            {{/for}}
        </SelectBox>
        <SelectBox ref:user caption="#Select user" blank wide required>
            {{#for user in get_users()}}
            <SelectItem caption="{user}"/>
            {{#else}}
            <option disabled>#no users available</option>
            {{/for}}
        </SelectBox>
        {{#if not get_users_count()}}
        <InputBox caption="#Create new admin user">
            <InputText ref:login caption="#Login" required/>
            <InputPassword ref:passw caption="#Password" required/>
            <InputPassword ref:passw2 caption="#Password again" required on:render="@passw_render"/>
            <GridX>
                <Button default action="@create_first_admin" caption="#Create and login"/>
            </GridX>
        </InputBox>
        {{#else}}
        <InputPassword ref:password caption="#Password" required/>
        <GridX>
            <Button default action="@login" caption="#Login"/>
        </GridX>
        {{/if}}
    </CardForm>
</GridX>

<python>
#"""
from apps.system.data import *
from pantra.common import ADict
from pantra.ctx import *


def init():
    session.set_title(_('Authorization'))


def get_users_count():
    return db.query(User).fetch_count()


def get_apps():
    return session.get_apps()


def get_users():
    for user in db.query(User).select(name=lambda s: s.name).fetchall():
        yield user.name


def passw_render(node):
    node.validate(lambda: refs.passw.value == refs.passw2.value, _("Passwords don''t match"))


def create_first_admin(node):
    if 'passw' in refs and refs.form['is_valid']():
        admin = User(name=refs.login['value'], password='', is_admin=True)
        admin.set_password(refs.passw['value'])
        db.insert(admin)
        refs.form.update_tree()


def login(node):
    username = refs.user.value
    user = db.query(User).filter(lambda s: s.name == username).fetchone()
    if not user:
        refs.user.error = _('User not available')
        return
    if not user.check_password(refs.password.value):
        refs.password.error = _('Wrong password')
        return
    session.user = ADict(user.to_dict())
    session.start_app(refs.app.value)


#</python>