<a on:click="action"><div>{{caption}}</div><div class="arrow"/></a>

<style type="text/scss">
    a {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: bold;
        padding: 0.2rem 0.3rem 0.2rem 1rem;
        transition: all .12s ease-in-out;
        cursor: pointer;
        border-top: 1px solid black;

        > .arrow:after {
            content: '>';
        }
    }
    //a:first-child {
    //    border-top: none;
    //}
    a:hover {
        background: #cecece;
    }
</style>

<python>
from pantra.ctx import *

action: str = ''
caption: str = ''
code: str = ''

def init():
    global caption
    if not caption and code:
        caption = _(f'{code}s')
</python>
