<div>
    <div class="caption" class:toggle="{not hidden}" on:click="toggle"><div>{{caption}}</div><div class="arrow"/></div>
    <div class="group" class:hide="{hidden}">
        <slot/>
    </div>
</div>

<style type="text/scss">
    .caption {
        display: flex;
        justify-content: space-between;
        color: #8bfd23;
        font-weight: bold;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.3rem;
        transition: color .12s ease-in-out;
        cursor: pointer;
        border-top: 1px solid black;

        &.toggle {
            color: #fdf623;
        }

        > .arrow:after {
            content: '...';
        }

        &:hover {
            background: #cecece;
        }
    }
    .group {
        transform-origin: top;
        max-height: 100vh;
        transition: all 400ms ease;

        &.hide {
            transform: scaleY(0);
            transform-origin: top;
            max-height: 0;
        }
    }

</style>

<python>
from pantra.ctx import *

caption: str
hidden: bool = True

def toggle(node):
    ctx['hidden'] = not hidden
</python>