<a on:click="action">{{caption}}<span class="arrow">{{'>'}}</span></a>

<style type="text/scss">
    a {
        display: block;
        color: #fff;
        font-weight: bold;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        padding-right: 0.3rem;
        transition: all .12s ease-in-out;
        cursor: pointer;
        border-top: 1px solid black;

        > .arrow {
            float: right;
        }
    }
    //a:first-child {
    //    border-top: none;
    //}
    a:hover {
        background: #cecece;
    }
</style>

<python>
action: str = ''
</python>
