<form class:with-header="caption">
    {{#if caption}}
    <div class="header">{{caption}}</div>
    <div ref:content class="content">
        <slot/>
    </div>
    {{#else}}
    <slot/>
    {{/if}}
</form>

<style type="text/scss">
    @import "defaults";

    form {
        border: $form-border;
        border-radius: $form-radius;
        padding: $form-padding;
        background: $form-bg;
    }

    .header {
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 0.5em;
        background-color: $color-decoration;
        border: $form-border;
        color: $header-color;
        border-top-left-radius: $form-radius;
        border-top-right-radius: $form-radius;
    }

    form.with-header {
        padding: 0;

        > .content {
            padding: $form-padding;
        }
    }
</style>

<python>
from pantra.ctx import *

caption: str = ''


def is_valid():
    ok = True
    for node in ctx.select(['InputField', 'SelectBox']):
        ok &= node['is_valid']()
    return ok

</python>