<form on:render="render" on:keyup="default_click">
</form>
<ToolBox>
    <ToolButton caption="#Save" action="save" default/>
    <ToolButton caption="#Close" action="close"/>
</ToolBox>

<style type="text/scss">
    @import "defaults";

    form {
        border: $form-border;
        padding: $form-padding;
        background: $form-bg;
    }
</style>

<python>
from pony.orm.core import EntityMeta, db_session, commit
from core.common import WebUnits
from core.models import find_entity_info
from components.Widgets import ValuesDict, make_widget
from core.ctx import *

entity: Optional[EntityMeta] = None
caption: str = ''

values: ValuesDict = ValuesDict()

def init():
    global entity, caption
    if not caption:
        caption = _(entity._entity_.__name__) if hasattr(entity, '_entity_') else _(entity.__name__)

@db_session
def render(node):
    if not ctx.slot:
        ent_info = find_entity_info(entity)
        is_new = not hasattr(entity, '_entity_')
        max_len = round(max(len(title) for name, attr in ent_info() for title in [_(attr.title)]) * 7)/10
        for attr_name, attr in ent_info():
            values[attr_name] = make_widget(node, attr, None if is_new else getattr(entity, attr_name), caption_width=WebUnits(max_len, 'em'))


def close(node=None):
    ctx.scope.tasks.close()


def is_valid():
    ok = True
    for node in ctx.select('$Field'):
        ok &= node['is_valid']()
    return ok


def save(node):
    if not is_valid():
        return

    is_new = not hasattr(entity, '_entity_')
    pars = {}
    for k, v in values.items():
        if v:
            pars[k] = v['value']
    with db_session:
        if is_new:
            entity(**pars)
        else:
            entity.set(**pars)
        commit()
    ctx.scope.caller['refresh']()
    close()


def default_click(node, key):
    if key == 'Enter':
        save(None)

</python>