<component>
    <form on:render="render" on:keyup="default_click"/>
    <ToolBox>
        <ToolButton caption="#Save" action="@save" default/>
        <ToolButton caption="#Close" action="@close"/>
    </ToolBox>
</component>

<style type="text/scss">
    @import "defaults";

    form {
        line-height: 2em;
        border: $form-border;
        padding: $form-padding;
        background: $form-bg;
    }
</style>

<python>
import dis
from pony.orm.core import EntityMeta, EntityProxy, Entity, db_session, commit
from pantra.common import WebUnits
from pantra.models import find_entity_info, entity_name, get_entity
from pantra.models.types import AnyEntity
from components.Widgets import ValuesDict, make_widget
from pantra.ctx import *

entity: Optional[AnyEntity] = None
caption: str = ''

values: ValuesDict = ValuesDict()

def init():
    global entity, caption
    if not caption:
        caption = _(entity_name(entity))

@db_session
def render(node):
    if not ctx.slot:
        attrs = find_entity_info(entity).attrs
        is_new = not get_entity(entity)
        max_len = round(max(len(title) for name, attr in attrs() for title in [_(attr.title)]) * 7)/10
        for attr_name, attr in attrs():
            values[attr_name] = make_widget(node, attr, None if is_new else getattr(entity, attr_name), caption_width=WebUnits(max_len, 'em'))


def close(node=None):
    ctx.scope.tasks.close()


def is_valid():
    ok = True
    for node in ctx.select('$Field'):
        ok &= node['is_valid']()
    return ok


def save(node):
    if not is_valid():
        return

    is_new = not hasattr(entity, '_entity_')
    pars = {}
    for k, v in values.items():
        if v and not v['in_body']:
            pars[k] = v['value']
    with db_session:
        if is_new:
            e = entity(**pars)
        else:
            e = entity
            entity.set(**pars)
        for k, v in values.items():
            if v and v['in_body']:
                setattr(e, k, v['value'])
        commit()
    ctx.scope.caller['refresh']()
    close()


def default_click(node, key):
    if key == 'Enter':
        save(None)

</python>