{{#if ctx.has_slot("help") or help_message}}
    <div class="help">
        <!--img src:icons="question-circle.svg" on:click="toggle_help"-->
        <div class="question" on:click="toggle_help"/>
        <div class="content" class:hidden="!{not help_visible}" on:focusout="toggle_help">
            <slot name="help">
                {{help_message}}
            </slot>
            <div class="fog" on:click="close_help"/>
        </div>
    </div>
{{/if}}

<style type="text/scss">
    .help {
        display: inline-flex;
        align-items: center;

        .question {
            width: 2rem;
            height: 1.5rem;
            padding: .5rem 0 0 0;
            background: static('icons/question-circle.svg') center no-repeat;
        }

        .content {
            background-color: #000;
            color: #fff;
            border-radius: .4rem;
            padding: .25rem .5rem;
            word-break: break-word;
        }
    }
    .fog {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
    }
</style>

<style global>
    .HelpMessage a {
        color: #fff;
    }
</style>

<python>
from pantra.ctx import *

help_message: str = ''
help_visible: bool = False

def toggle_help(node):
    ctx['help_visible'] = not help_visible

def close_help(node):
    if help_visible:
        toggle_help(node)

</python>