<label class:inline class:block="{not inline}" class:required class:error="!{error}">
    <span css:width="{caption_width}">{{caption}}</span>
    <input
            set:id
            set:name
            set:type
            bind:value
            set:placeholder
            set:required
            set:disabled="readonly"
            css:width
            spellcheck = "{spellcheck and '' or 'false'}"
    >
    <HelpMessage consume="help">
        <help reuse/>
    </HelpMessage>
    <div class="message">!{{error}}</div>
</label>

<python>
from components.Forms.inputs import *

id: str = ''
name: str = ''
inline: bool = False
type: str = 'text'
placeholder: str = ''
caption_width: int = ''
width: str = ''
spellcheck: bool = True
</python>
