<div
        reactive
        ref:box
        class="group"
        class:inline
        class:block="{not inline}"
        class:error
>
    {{#if caption}}<span>{{caption}}</span>{{/if}}
    <scope radio_name="o{ctx.oid}" on_radio_change="{on_radio_change}">
    </scope>
    <slot/>
    <HelpMessage consume="help"/>
    <div ref:error class="message">!{{error}}</div>
</div>
<react to="value" action="update_value"/>

<python use="inputs">
from pantra.ctx import *

on_change = EmptyCaller()
inline: bool = False
value = None

def on_render():
    global value
    if value:
        for node in refs.box.select("$RadioItem"):
            node['checked_value'] = node['value'] == value and 'checked' or ''
    elif ctx['required']:
        for node in refs.box.select("$RadioItem"):
            node['checked_value'] = 'checked'
            value = node['value']
            break

def on_radio_change(new_value):
    global value
    value = new_value
    on_change()

</python>