<div
        reactive
        class="group"
        class:inline
        class:block="{not inline}"
        class:error
        class:required
>
    {{#if caption}}<span>{{caption}}</span>{{/if}}
    <scope radio_name="o{ctx.oid}" on_radio_change="{on_radio_change}">
    </scope>
    <slot/>
    <HelpMessage consume="help"/>
    <div ref:error class="message">!{{error}}</div>
</div>

<python>
from components.Forms.inputs import *
from pantra.ctx import *

on_change = EmptyCaller()
inline: bool = False
value = None

def on_radio_change(new_value):
    global value
    value = new_value
    on_change()

</python>