<div
        reactive
        ref:box
        class="group"
        class:inline
        class:block="{not inline}"
        class:error
>
    {{#if caption}}<span>{{caption}}</span>{{/if}}
    {{#set:scope
		radio_name = f"o{ctx.oid}"
		on_radio_change = on_radio_change
	}}
		<slot/>
    {{/set:scope}}
    <HelpMessage consume="help"/>
    <div ref:error class="message">!{{error}}</div>
</div>
<react to="value" action="update_value"/>

<python use="inputs">
from pantra.ctx import *

on_change: Property[EmptyCaller] = None
inline: Property[bool] = False
value: Property[Any] = None

def on_render():
    global value
    if value:
        for node in refs['box'].select("$RadioItem"):
            node['checked_value'] = node['value'] == value and 'checked' or ''
    elif ctx['required']:
        for node in refs['box'].select("$RadioItem"):
            node['checked_value'] = 'checked'
            value = node['value']
            break

def on_radio_change(new_value):
    global value
    value = new_value
    if on_change:
        on_change()

</python>