<span class="inline">
    <input
            type="radio"
            name="{ctx.scope.radio_name}"
            checked="{'checked' if checked else ''}"
            set:disabled
            data:value="{value}"
            on:change="on_change"/>
    <span>{{caption}}</span>
</span>

<python>
from pantra.ctx import *

checked: bool = False
caption: str = ''
value = None

def init():
    if checked:
        ctx.scope.on_radio_change(value)

def on_change(node):
    ctx.scope.on_radio_change(node.data.value)

</python>