<span class="inline">
    <input
            reactive
            type="radio"
            name="{ctx.scope.radio_name}"
            bind:value="checked_value"
            set:disabled
            data:value="{value}"
            on:change="on_change"
    />
    <span>{{caption}}</span>
</span>

<python>
from pantra.ctx import *

checked: bool = False
checked_value: str = ''
disabled: bool = False
caption: str = ''
value = None

def init():
    global checked_value
    if checked:
        checked_value = 'checked'
        ctx.scope.on_radio_change(value)

def on_change(node):
    ctx.scope.on_radio_change(node.data.value)

</python>