<label ref:label class:inline class:block="{not inline}" class:error class:required>
    {{#if caption}}<span>{{caption}}</span>{{/if}}
    <select on:render="render_select" class:wide multiple="{multiple}" required="{required}" on:select="update_value action">
        {{#if blank}}
        <SelectItem caption="" selected/>
        {{/if}}
        <slot>
            <option disabled>#Empty</option>
        </slot>
    </select>
    <HelpMessage consume="help"/>
    <div ref:error class="message">!{{error}}</div>
</label>

<python use="inputs">
inline: bool = False
multiple: str = ''
wide: bool = False
blank: bool = False
action: str = ''

def render_select(node):
    global value
    opts = [value] if type(value) is not list else value
    for opt in node.select('option'):
        opt.attributes.selected = opt in opts

def update_value(node):
    global value
    value = node.value.text if type(node.value) != list else [v.text for v in node.value]
    opts = [node.value] if type(node.value) != list else node.value
    for opt in node.select('option'):
        opt.attributes.selected = opt in opts

</python>