<label ref:label class:inline class:block="{not inline}" class:error class:required>
    {{#if caption}}<span>{{caption}}</span>{{/if}}
    <select on:render="render_select" class:wide set:multiple set:required on:select="update_value action">
        {{#if blank}}
        <SelectItem caption="" selected/>
        {{/if}}
        <slot>
            <option disabled>#Empty</option>
        </slot>
    </select>
    <HelpMessage consume="help"/>
    <div ref:error class="message">!{{error}}</div>
</label>

<python use="inputs">
from pantra.ctx import *

inline: bool = False
multiple: bool = False
wide: bool = False
blank: bool = False
action: ActionType = None

def render_select(node: HTMLElement):
    global value
    if value:
        opts = [value] if type(value) is not list else value
        for opt in node.select('option'):
            opt.attributes.selected = opt in opts or opt['caption'] in opts
    elif not blank:
        if (default:=node.downto('option')) is not None:
            default.attributes.selected = True
            value = default['caption']

def update_value(node):
    global value
    value = node.value['caption'] if type(node.value) != list else [v['caption'] for v in node.value]
    opts = [node.value] if type(node.value) != list else node.value
    for opt in node.select('option'):
        opt.attributes.selected = opt in opts

</python>