<button type="button" on:click="action" class:danger class:green class:default set:disabled>{{caption}}</button>

<style type="text/scss">
    @import "basic";

    $color-norm: #fcfdc2;
    $color-danger: #fbd1c5;
    $color-green: #80da67;

    @function button-color($color) {
        @return linear-gradient(166deg,
                rgba(lighten($color, 20%),1) 0%,
                rgba($color,1) 45%,
                rgba($color,1) 78%,
                rgba(lighten($color, 10%),1) 100%);
    }

    button {
        min-width: 7em;
        display: block;
        text-align: center;
        height: 1.6em;
        //vertical-align: middle;
        cursor: pointer;
        @include x-user-select();
        color: #04122b;
        background: $color-norm;
        background: button-color($color-norm);
        border: none;
        border-left: solid 1px;
        border-right: solid 1px;
        /*transition: background-color 0.15s ease-in-out;*/
        margin: 0.2rem 0;

        &:disabled {
            color: $color-passive;
        }

        &:hover {
            background: lighten($color-norm, 10%);
        }

        &.danger {
            background: button-color($color-danger);

            &:hover {
                background: lighten($color-danger, 10%);
            }
        }

        &.green {
            background: button-color($color-green);

            &:hover {
                background: lighten($color-green, 10%);
            }
        }

        &.default {
            font-weight: bold;
        }
    }
</style>

<python>
from pantra.ctx import *

caption: str = ''
action: ActionType = None
danger: bool = False
green: bool = False
default: bool = False
disabled: bool = False
</python>
